* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}
header#cabecera {
    width: 90%;
    height: 170px;
    padding: 30px 15px 9px 15px;
    margin: 0 auto;
}
header section#cabo {
    width: 100%;
    display: inline-block;
}
header section h1, header section div#info-cabecera {
    display: inline-block;
}
header section h1 a {
    text-decoration: none;
}
header section h1 a span#host {
    color: #1ac4e8;
    font-size: 57px;
}
header section h1 a span#pro {
    color: #333;
    font-size: 57px;
}
header section div#info-cabecera {
    width: 55%;
    float: right;
}
header section div p, header section div p strong, header section div button {
    display: inline-block;
    margin-top: 12px;
}
header section div p#textoNumero {
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.2;
    opacity: 0.7;
}
header section div p img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-left: 10px;
}
header section div button {
    background-color: #fe6c01;

}
header nav#navbar {
    background-color: red;
    width: 50%;
}
header nav ul {

}
header nav ul li {
    list-style: none;
}
header nav ul li a {

}
