* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    font-family: 'Ubuntu', sans-serif;
}
header#cabecera {
    width: 90%;
    height: 170px;
    padding: 30px 15px 9px 15px;
    margin: 0 auto;
}
header section#cabo {
    width: 100%;
    display: inline-block;
}
header section h1, header section div#info-cabecera {
    display: inline-block;
}
header section h1 a {
    text-decoration: none;
}
header section h1 a span#host {
    color: #1ac4e8;
    font-size: 57px;
}
header section h1 a span#pro {
    color: #333;
    font-size: 57px;
}
header section div#info-cabecera {
    width: 56%;
    float: right;
}
header section div p, header section div p strong, header section div button {
    display: inline-block;
    margin-top: 12px;
}
header section div p#textoNumero {
    margin-left: 10px;
    font-size: 14px;
    line-height: 1.2;
    opacity: 0.7;
}
header section div p img {
    width: 26px;
    height: 26px;
    vertical-align: middle;
    margin-left: 10px;
}
header section div p strong {
    margin-left: 15px;
    font-size: 25px;
}
header section div p strong:hover {
    color: #1ac4e8;
}
header section div button {
    background-color: #fe6c01;
    padding: 19px 15px;
    margin-left: 18px;
}
header section div button:hover {
    background-color: #1ac4e8;
}
header section div a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
}
header nav ul li {
    list-style: none;
    float: left;
    margin-right: 38px;
    margin-top: 40px
}
header nav ul li a {
    text-decoration: none;
    color: #313131;
    font-size: 18px;
    font-weight: bold;
    opacity: 0.7;
}
header nav ul li a:hover {
    color: #000;
    opacity: 0.9;
}
header nav ul li a#active {
    color: #000;
    opacity: 0.9;
}
section#slider {
    width: 100%;
    height: 566px;
    background: url(../images/home-slide-1.jpg) center;
    background-repeat: no-repeat;
    padding-top: 75px;
}
section#slider h4, section#slider h2, section#slider h3, section#slider p {
    text-align: center;
    color: #fff;
    display: block;
}
section#slider h4 {
    margin-bottom: 30px;
    color: #1ac4e8;
    font-weight: 300;
    font-size: 40px;
}
section#slider h2 {
    margin-bottom: 36px;
    line-height: 1.125;
    font-size: 80px;
    font-weight: bold;
}
section#slider h3 {
    margin-bottom: 53px;
    color: #fe6c01;
    font-size: 46px;
    line-height: 1.08696;
    font-weight: bold;
}
section#slider p {
    margin-bottom: 19px;
    font-size: 20px;
    line-height: 1.7;
}
main section#seccion1 {
    width: 100%;
    height: 185.400px;
    text-align: center;
    display: inline-block;
    padding: 139px 0px;
}
main section#seccion1 h2 span.black {
    font-size: 46px;
    line-height: 1.08696;
    color: #333;
    margin-right: 11.500px;
}
main section#seccion1 h2 span.orange {
    color: #f36c01;
    font-weight: 300;
    font-size: 46px;
}
main section#seccion1 h2 span.black, main section#seccion1 h2 span.orange {
    display: inline-block;
    margin-bottom: 35px;
}
main section#seccion1 p {
    color: #777;
    font-size: 20px;
    line-height: 1.7;
}
main section#seccion2 {
    width: 100%;
    height: 779px;
    background-color: antiquewhite;
}
main section article#art1, main section article#art2 {
    display: inline-block;
    padding-top: 105px;
    padding-bottom: 139px;
    text-align: center;
    color: #fff;
}
main section article#art1 {
    width: 50%;
    height: 534.400px;
    background-color: #1ac4e8;
}
main section article#art2 {
    width: 50%;
    height: 534.400px;
    float: right;
    background: url(../images/home-1-1024x746.jpg) center;
}
main section article h3 span#webhost, main section article h3 span#services {
    display: inline-block;
    margin-top: 30px;
    font-size: 46px;
}
main section article h3 span#webhost {
    margin-right: 11.500px;
}
main section article h3 span#services {
    font-weight: 300;
}
main section article p {
    display: block;
    margin-top: 42px;
    font-size: 20px;
    line-height: 1.7;
}
main section article button.readMore {
    margin: 40px 0px 0px 0px;
    padding: 21px 38px;
    background-color: #fe6c01;
    border-color: #fe6c01;
    font-size: 18px;
}
main section article button a {
    text-decoration: none;
    color: #fff;
}
main section article button:hover {
    background-color: #777;
    border-color: #777;
}
main section article button.readMore2:hover {
    background-color: #1ac4e8;
    border-color: #1ac4e8;
}
main section article#art2 h2 span#estrella {
    font-size: 96px;
    color: #1ac4e8;
    line-height: 1.14583;
}
main section article#art2 h2 span#com {
    font-size: 96px;
    line-height: 1.14583;
}
main section article#art2 h3 {
    margin-top: 34px;
}
main section article h3 span#domain, main section article h3 span#serv {
    display: block;
    font-size: 46px;
}
main section#seccion3 {
    width: 100%;
    height: 767.600;
    padding: 139px 0px 122px 0px;
    background-color: aliceblue;
}
main section#seccion3 h2, main section#seccion3 p#textoSeccion3 {
    width: 100%;
    text-align: center;
}
main section#seccion3 h2 span.black {
    font-size: 46px;
    line-height: 1.08696;
    margin-right: 11.500px;
}
main section#seccion3 h2 span.orange {
    font-size: 46px;
    line-height: 1.08696;
    font-weight: 300;
    color: #fe6c01;
}
main section#seccion3 p#textoSeccion3 {
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
}
main section#seccion3 ul {
    width: 100%;
    margin: 50px 0px 0px 0px;
}
main section#seccion3 ul li.lista, main section#seccion3 ul li.lista2 {
    display: inline-block;
    padding: 0px 0px;
}
main section#seccion3 ul li.lista {
    width: 47.7%;
    list-style: none;
    padding: 0px 15px
}
main section#seccion3 ul li.lista2 {
    float: right;
}
main section#seccion3 ul li.lista3 {
    margin-top: 50px;
}
main section#seccion3 ul li img {
    background: url(../icons/checkbox-blank-circle.png) center;
    background-repeat: no-repeat;
    padding: 33px;
}
main section#seccion3 ul li img:hover {
    background: url(../icons/checkbox-blank-circle2.png) center;
    background-repeat: no-repeat;
    padding: 33px;
}
main section#seccion3 ul li.lista aside, main section#seccion3 ul li.lista section {
    display: inline-block;
}
main section#seccion3 ul li.lista aside {
    width: 20%;
    height: 138px;
}
main section#seccion3 ul li.lista section {
    width: 75%;
    height: 138px;
    vertical-align: top;
    padding-left: 24px;
}
main section#seccion3 ul li.lista section h4 {
    margin-top: 6px;
    font-size: 16px;
    line-height: 1.7;
}
main section#seccion3 ul li.lista section p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 5px;
    color: #333;
}
main section#seccion4 {
    width: 100%;
    height: 473.800px;
    padding: 130px 0px 139px 0px;
    background: url(../images/home-2-2048x1153.jpg) center;
    color: #fff;
}
main section#seccion4 h2, main section#seccion4 p {
    text-align: center;
}
.our {
    font-size: 46px;
    margin-right: 11.500px;
    font-weight: bold;
}
.statistics {
    font-size: 46px;
    font-weight: 300;
}
main section#seccion4 p {
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.7;
}
main section#seccion4 div img.circulo, main section#seccion4 div p.numeroCirculo, main section#seccion4 div img.subCirculo {

}
main section#seccion4 span.circuloDatos {
    background-color: #fe6c01;
    width: 178px;
    height: 178px;
}
main section#seccion4 div p.numeroCirculo {
    width: 178px;
    height: 178px;
    background: url(../icons/checkbox-blank-circle-outline.png);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #fe6c01;
    border-radius: 50%;
}
main section#seccion5 {
    width: 100%;
    height: 947.600px;
    padding: 130px 0px;
}
main section#seccion5 h2, main section#seccion5 p#textoSeccion5 {
    text-align: center;
}
main section#seccion5 h2 span.statistics {
    color: #fe6c01;
}
main section#seccion5 p#textoSeccion5 {
    margin-top: 35px;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
}
main section#seccion5 section.planes {
    width: 30%;
    height: 726.200px;
    background-color: #fff;
    margin: 36px 15px 0px 15px;
    display: inline-block;
    text-align: center;
}
main section#seccion5 div.valor {
    padding: 39px 0px 32px 0px;
}
main section#seccion5 section.planes h4 {
    font-size: 40px;
}
main section#seccion5 section.planes div.valor p {
    margin-top: 22px;
    padding-left: 48px;
}
main section#seccion5 section.planes div.valor p sup {
    font-size: 55px;
    font-weight: bold;
    vertical-align: top;
    color: #1ac4e8;
}
main section#seccion5 section.planes div.valor p span.precio {
    font-size: 75px;
    font-weight: bold;
    color: #1ac4e8;
}
main section#seccion5 section.planes div.valor p span.meses {
    margin-left: 4px;
    font-size: 20px;
    color: #777;
}
main section#seccion5 section.planes hr {
    border-top: 2px solid #1ac4e8;
}
main section#seccion5 section.planes div.contentPlanes {
    height: 445.200px;
    margin-top: 24px;
}
main section#seccion5 section.planes div.contentPlanes p {
    padding: 0px 55px;
    font-size: 20px;
    line-height: 1.7;
    color: #777;
}
main section#seccion5 section.planes div.contentPlanes ul {
    margin-top: 13px;
    height: 248.200px;
}
main section#seccion5 section.planes div.contentPlanes ul li {
    padding: 13px 0px 12px 0px;
    list-style: none;
    height: 24px;
    border-bottom: 1px solid #999;
}
main section#seccion5 section.planes div.contentPlanes ul li span.blue {
    color: #1ac4e8;
    font-weight: 700;
    font-size: 20px;
}
main section#seccion5 section.planes div.contentPlanes ul li span.hight {
    color: #777;
    font-size: 20px;
}
main section#seccion5 section.planes div.contentPlanes button {
    margin-top: 33px;
    padding: 21px 38px;
    background-color: #fe6c01;
    border-color: #fe6c01;
}
main section#seccion5 section.planes div.contentPlanes button:hover {
    background-color: #1ac4e8;
    border-color: #1ac4e8;
}
main section#seccion5 section.planes div.contentPlanes button a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
}
main section#seccion6 {
    width: 100%;
    height: 452.800px;
    padding: 122px 0px 172px 0px;
    background-color: #1ac4e8;
    color: #fff;
}
main section#seccion6 h2 {
    text-align: center;
}
main section#seccion6 h2 span {
    font-weight: 700;
    font-size: 46px;
    vertical-align: top;
}
main section#seccion6 div#containerSeccion6 {
    margin: 60px 15px 0px 15px;
}
main section#seccion6 section.container {
    display: inline-block;
    width: 30%;
    height: 306.400px;
    padding: 0px 15px;
}
main section#seccion6 section.container aside, main section#seccion6 section.container section {
    display: inline-block;
}
main section#seccion6 section.container aside img {
    border-radius: 100%;
}
main section#seccion6 section.container section {
    padding-left: 28px;
    height: 53.200px;
    vertical-align: top;
    margin-top: 18px;
}
main section#seccion6 section.container section h6 {
    font-size: 22px;
}
main section#seccion6 section.container section small {
    margin-top: 6px;
    font-size: 20px;
    line-height: 1.7;
}
main section#seccion6 section.container p {
    margin-top: 20px;
    height: 201.600px;
    font-size: 20px;
    line-height: 1.7;
}
